@model CodingCraftHOMod1Ex1EF.ViewModels.ProdutosPorLojaViewModel

@using (Html.BeginForm("SalvarPesquisa", "Lojas", FormMethod.Get))
{    
        <div class="form-group">

            @Html.LabelFor(model => model.SalvarPesquisa.FormatoEscolhido, "Formato", htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EnumDropDownListFor(model => model.SalvarPesquisa.FormatoEscolhido, "Selecione o formato", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SalvarPesquisa.FormatoEscolhido, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Salvar pesquisa" class="btn btn-default" />
            </div>
        </div>   
}